[user]
	name = Marty Spiewak
	email = spiewakmarty@gmail.com
[alias]
	st = status
	di = diff
	co = checkout
	ci = duet-commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
	gst = git
	gst = git
	gst = git
	su = submodule update --init --recursive
	plog = log     --graph     --abbrev-commit -    -date=relative     --decorate     --all     --format=format:\"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)\"
	gst = git
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
